[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-inventory = "*"
ansible-runner-http = "*"
ansible-runner = "*"
flask-login = "*"
flask = "*"
shell = "*"
simplepam = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
