<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/fontawesome-free-5.13.0-web/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="wrapper">
        <!-- main start -->
        <section class="main">
            <!-- form start -->

            <!-- some decorations start -->
            <!-- <div class="circle"></div>
            <div class="rect"></div> -->
            <!-- some decorations end -->

            <div class="card signup">
                <div class="row no-gutters">
                    <div class="col-lg-4">
                        <div class="signup__welcome signup__center">
                            <h4 class="signup__title">
                                Welcome Back!
                            </h4>
                            <p class="signup__para">
                                To manage virtual machine please login.
                            </p>
                            <!--<a href="#!" class="btn btn--secondary">SIGN IN</a>-->
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="signup__form signup__center">
                            <h4 class="signup__title">SIGN IN</h4>


                            <form method=post action={{url_for('login')}} class="form">
                                <div class="input_group form__item">
                                    <i class="far fa-user"></i>
                                    <input type="text" placeholder="Username" name=username>
                                </div>
                                <div class="input_group form__item ">
                                    <i class="fas fa-unlock-alt"></i>
                                    <input type="password" placeholder="Password" name=password>
                                </div>
                                <select class="input_group form__item" name="method" style="width: 180px; margin: auto;">
                                    <option name="user" value="user">Regular user</option>
                                    <option name="admin" value="admin">Administrator</option>
                                </select>
                                <div class="input_group form__item form__item--center">
                                    <input class="btn btn--primary" type="submit" value="Login">
                                </div>
                            </form>
                            <p class="signup__para signup__para--sm">You can find relevant resources in the following
                                communities</p>
                            <div class="social-btns">
                                <a href="https://www.duacodie.com/" class="social-btns__item">
                                    <i class="fas fa-blog"></i>
                                </a>
                                <a href="https://github.com/derrick921213/Ansible_webManager" class="social-btns__item">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="#!" class="social-btns__item">
                                    <i class="fab fa-readme"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- form end -->
        </section>
        <!-- main end -->
    </div>ß
</body>

</html>